<% provide(:title, "Contact") %>

<h1>
  <%= yield(:title) %>  
</h1>
<p>
  Contact me at 
  <a href="http://www.eideldev.com/#contact-sec">
    Eideldev</a> 
  or at 
  <a href="mailto:aron@eideldev.com?Subject=Hello%20from%20Learn%20Enough%20Society" target="_top">
    aron@eideldev.com
  </a>
</p>