<div class="center jumbotron">
  <h1>Welcome to the Best Behavior App</h1>

  <h2>
    This is the home page for
    <a href="http://www.eideldev.com/">Aron Eidelman's</a>
    sample test-driven application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>